.cards {
    display: flex; 
    flex-direction: column;
    overflow-y: auto;
    cursor: pointer;
    width: fit-content;
  

    }
   
  
  .cards-img{
    width:45%;
    height:40%;
  }
  .body{
    padding-bottom: 0%;
  }
